<form [formGroup]="loginForm">
  <div class="input-field">
    <label class="label-width">E-mail</label>
    <input type="email" formControlName="email" required/>
    <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid" class="validation">
      <small class="text-danger" *ngIf="loginForm.get('email').errors.required">Enter email</small>
      <small class="text-danger" *ngIf="loginForm.get('email').errors.email">Enter correctly email</small>
    </div>
  </div>
  <div class="input-field"
       [ngClass]="{invalid: loginForm.get('password').touched && loginForm.get('password').invalid}">
    <label class="label-width">Password</label>
    <input type="password" formControlName="password" required/>
    <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid" class="validation">
      <small class="text-danger" *ngIf="loginForm.get('password').errors.required">Enter password</small>
      <small class="text-danger" *ngIf="loginForm.get('password').errors.minlength">
        Password not less  {{loginForm.get('password').errors.minlength.requiredLength}} symbols.
        Now {{loginForm.get('password').errors.minlength.actualLength}}
      </small>
    </div>
  </div>
  <div class="button-right">
    <button class="btn btn-color" [disabled]="loginForm.invalid || submitted" (click)="submit()">
      Enter
    </button>
  </div>
</form>

