<footer class=" footer">
  <div class="link">
    <h4 class="footer-title">About us</h4>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Forex Team</a>-->
<!--          </li>-->
    <h4 class="footer-title">Products</h4>
    <!--      <li class=" nav-item">-->
    <!--        <a class=" nav-link" href="#">About Us</a>-->
    <!--      </li>-->
    <h4 class="footer-title">Services</h4>
    <h4 class="footer-title">Support</h4>
    <h4 class="footer-title">Community</h4>
  </div>
    <div class="copyright">
      &copy; Forex {{ test | date: "yyyy" }}
  </div>
</footer>
