<div class="wrapper">
  <div class="sidebar">
    <app-main-sidebar></app-main-sidebar>

  </div>
  <div class="main-panel">
    <app-main-navbar></app-main-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
<div class=" fixed-plugin">
  <div class=" show-dropdown" ngbDropdown>
    <a data-toggle="dropdown" ngbDropdownToggle>
      <i class=" fa fa-cog fa-2x"> </i>
    </a>
    <ul ngbDropdownMenu>
      <li class=" adjustments-line text-center sidebar-color">
        <span class=" color-label"> Дневной </span>
        <span class=" badge light-badge mr-2" (click)="changeDashboardColor('white-content')"> </span>
        <span class=" badge dark-badge ml-2" (click)="changeDashboardColor('black-content')"> </span>
        <span class=" color-label"> Ночной </span>
      </li>
    </ul>
  </div>
</div>

